<!-- About -->
<!--<div id="about" class="section ">-->

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">Welcome to Website</h2>
      </div>
      <!-- /Section header -->

      <!-- about -->
      <div class="col-md-5" style="border: solid black; height: 350px">
        <h4 style="padding-top: 10px">Last Orders</h4>
        <hr>

        <% @orders.each do |order| %>
          <%= link_to order.meal, order_path(order)  %> created at: <%= order.created_at %> <br>
        <% end %>



      </div>
      <!-- /about -->

      <!-- about -->
      <div class="col-md-5" style="border: solid black; height: 350px; float: right">
        <h4 style="padding-top: 10px">Friends Activities</h4>
        <hr>


      </div>
      <!-- /about -->


    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

<!--</div>-->
<!-- /About -->
